@charset "UTF-8";

section.projeto {
    clear: both;
    padding-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid rgb(45, 45, 45);
    height: 390px;
}

section.projeto div.imgProjeto {
    display: block;
    float: left;
    width: 530px;
    height: 360px;
}

section.projeto div.imgProjeto figure {
    margin: 0px;
}

section.projeto div.imgProjeto img {
    width: 100%;
    height: 100%;
}

section.projeto div.informacoesProjeto {
    width: 450px;
    height: 360px;
    display: block;
    float: right;
}

section.projeto div.informacoesProjeto h2 {
    box-shadow: 1px 1px 3px rgb(45, 45, 45);
    padding: 7px;
    margin-top: 0px;
}

section.projeto div.informacoesProjeto p {
    text-align: justify;
    text-indent: 40px;
    letter-spacing: 1px;
}

section.projeto div.informacoesProjeto p a {
    color: rgb(45, 45, 45);
    font-style: italic;
}

footer#paraContato {
    text-align: center;
    clear: both;
    border-top: 1px solid rgb(45, 45, 45);
    border-bottom: 1px solid rgb(45, 45, 45);
    padding: 25px;
    margin: 30px 0px 30px 0px;
}

footer#paraContato h2 {
    clear: both;
    font-size: 16pt;
    font-style: italic;
}

footer#paraContato div#linkContato {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    background-color: rgb(207, 61, 61);
    transition: 0.7s;
}

footer#paraContato div#linkContato a {
    color: white;
    font-size: 11pt;
    text-decoration: none;
}

footer#paraContato div#linkContato a:hover {
    text-decoration: underline;
}

footer#paraContato div#linkContato:hover {
    background-color: rgb(127, 37, 37);
}